.debug [class*="col-"] {
  /* height: 300px; */
  /* background-color: pink; */
  /* border: 1px solid red; */
}

/* ===============
   GLOBAL SETTINGS 
   =============== */

body {
  font-family: 'Lato', sans-serif;
}

nav {
  height: 50px;
  line-height: 50px;
}

main {
  /* background-color: violet; */
}

ul {
  list-style: none;
  padding: 0;
}

h4 {
  color: #031B4F;
  font-weight: bold;
}

.section_title {
  color: #031B4F;
  font-weight: bold;
}
.section_p {
  color: #5B6987;
  font-size: 18px;
}
.py_50 {
  padding: 50px 0;
}
.my_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt_30 {
  margin-top: 30px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_30 {
  margin-bottom: 30px;
}
.t_small {
  font-size: 1.5rem;
  color: grey;
}


/* HEADER
   ============================= */

nav img {
  max-width: 80%;
  height: auto;
}   
nav a {
  color: #031B4F;
}
nav a:not(:last-of-type) {
  margin-right: 15px;
}
nav a.btn {
  color: #006AFF;
  border: 1px solid;
}
nav span#hamb {
  display: none;
  color: #006AFF;
  font-size: 2rem;
}

.header_bottom {
  background-image: url(../img/jumbo_bg.svg);
  background-color: #585e67;
  background-blend-mode: overlay;
  color: #fff;
  padding: 60px 0;
}
.header_bottom h1 {
  font-size: 62px;
  font-weight: bold;
}
.header_bottom .claim p {
  color: lightgrey;
  font-weight: 400;
}

/* mini form */
.signup_form {
  background: #fff;
  color: #031B4F;
  padding: 2rem;
  border-radius: .5rem;
}
.signup_form > *:not(h1) {
  margin-bottom: 10px;
}
.signup_form h2 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
}
.signup_form h2 > span {
  color: #006AFF;
}
.signup_form > button {
  background: #fff;
  border: none;
  padding: .5rem;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.signup_form > button.google_account {
  background-image: url(../img/google.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 10px;
  box-shadow: 1px 1px 1px lightgrey;
  color: #333;
}
.signup_form > button.mail_account {
  background-color: #4285F4;
  color: #fff;
  border: 1px solid blue;
}
.signup_form > input {
  padding: 18px 6px;
  border: 1px solid #ddd;
}
.signup_form > input::placeholder {
  color: #333;
}
.signup_form > span {
  font-size: 1.2rem;
}   
.signup_form > span > a {
  text-decoration: underline;
  color: #006AFF;
}


/* MAIN
   ============================= */

/* customers */
#customers {
  background-color: #F3F5F9;
  text-align: center;
  padding: 40px 0 30px;
}   
#customers span.title_like {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}
.brands {
  margin: 30px 0;
}
.brands > img {
  width: 13%;
  height: auto;
}
.brands > img:not(:last-child) {
  margin-right: 3%;
}
#customers a {
  font-size: 16px;
  color: #006AFF;
}   

/* deploy */
#deploy ul > li {
  border-left: 1px solid grey;
  padding: 8px;
}
#deploy ul > li > a {
  color: #5B6987;
}
#deploy .description {
  height: 150px;
}

/* design */
#design, #dev_teams {
  background-color: #F3F5F9;
}
#design img, #dev_teams .team_story {
  width: 66%;
  height: auto;
}
a.angle_left, a.angle_right {
  font-size: 4rem;
} 
a.angle_left {
  color: #5B6987;
  padding-right: 2%;
}
a.angle_right {
  color: #031B4F;
  padding-left: 2%;
}
#design h5 {
  color: #333;
}
.dots > a {
  color: #006AFF;
  font-size: 12px;
}

/* features */
#features a {
  font-size: 1.5rem;
  color: #006AFF;
}

/* regions */
#regions, #get_started {
  background-image: linear-gradient(0deg, #001e9a, #0048c5);
}
#regions h2, #get_started h2 {
  color: #fff;
}
#regions li, #regions a {
  font-size: 11px;
}
#regions li {
  padding: .8rem;
}
#regions li:not(:last-child) {
  border-bottom: 2px solid white;
}

#regions .city_code > li {
  color: #fff;
}
#regions .city_name > li {
  color: lightgrey;
}
#regions .test_link > li > a {
  color: aquamarine;
}

/* dev_teams */
#dev_teams a.angle_left, #dev_teams a.angle_right, #dev_teams .team_story {
  display: inline-block;
  vertical-align: middle;
  /* il mistero del vertical-align... se lo do al contenitore non funziona, devo darlo a tutti gli elementi all'interno del contenitore, ovviamente elementi con caratteristiche inline - in questo caso ho convertito tutto a inline-block */
}

#dev_teams h2 {
  margin-bottom: 70px;
}
#dev_teams .team_story {
  background-color: white;
}
#dev_teams .team_story > span {
  display: block;
}
#dev_teams .team_story > h5 {
  margin-bottom: 0;
}
#dev_teams .team_story > img {
  width: 45%;
  margin-bottom: 20px;
}
#dev_teams .team_story > p {
  line-height: 3rem;
}
#dev_teams .team_story > a {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #006AFF;
}
#dev_teams .dots {
  margin: 20px;
}

/* get_started */
#get_started button {
  color: #006AFF;
  background-color: #fff;
  margin-top: 15px;
}


/* FOOTER
   ============================= */

footer {
  background: #010e28;
}
footer ul a {
  color: #B6BCC9;
  line-height: 2.5rem;
}
footer a.social, footer h5:first-of-type {
  color: #A7B2C1;
}
footer a.social {
  font-size: 2rem;
  padding-right: 10px;
}
footer h5:first-of-type {
  margin-bottom: 0;
}
footer h5:last-of-type {
  color: #5B6987;
  margin-top: 3px;
}
footer img.footer_logo {
  width: 45px;
}
footer h4 {
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
}

/* chatbot */
.chat_bot {

}
span.text_box {
  display: inline-block;
  color: #031B4F;
  background-color: white;
  border: 1px solid;
  width: 290px;
  padding: 10px;
  border-radius: 6px;
}
.chat_bot div.avatar {
  display: inline-block;
  height: 55px;
  width: 55px;
  background-image: url(../img/duck-icon.png);
  background-size: cover;
  border: 1px solid yellow;
  border-radius: 3px;
  position: relative;
}
span.text_box, .chat_bot div.avatar {
  vertical-align: bottom;
}
.chat_bot div.avatar > span.badge {
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 22px;
}


/* =============
   MEDIA QUERIES 
   ============= */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav .menu_center, nav .menu_right > a {
    display: none;
  }
  nav .menu_right {
    text-align: right;
  }
  nav span#hamb {
    display: inline-block;
  }

  .header_bottom h1 {
    font-size: 46px;
  }
}